/* Container Styling */
.product-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

/* Headings */
.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subheading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Category List */
.category-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.category-item {
  font-size: 25px;
  font-weight: 900;
  color: #007bff;
  margin-bottom: 5px;
  padding: 60px;
  border: 1px solid;
}

/* Product List */
.product-list {
  list-style: none;
  padding: 0;
}

.product-item {
  margin-bottom: 10px;
}

.product-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.product-link:hover {
  color: #007bff;
}

li {
  cursor: pointer;
}
