.card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}

.card:hover {
  background: #0056b3;
}

.product-modal-label {
  color: rgb(33, 31, 31);
  font-size: 20px;
}

.product-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.close-btn {
  width: 45px;
  height: 45px;
  position: absolute;
  top: -3px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.admin-profile-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}
.profile-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.profile {
  background-color: #121212;
  color: #fff;
  font-family: "Arial", sans-serif;
  padding: 20px 0;
}

.admin-profile-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
